<%- include('header') -%>
<div class="box" id="heading">
    <h1> <%= day %></h1>
</div>

<div class="box">
    <% for(let i=0; i<new_list_item_array.length; i++) {%>
    <div class="item">
        <input type="checkbox">
        <p><%= new_list_item_array[i] %> </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
        <input type="text" name="new_reminder" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button">+</button>
    </form>
</div>
<%- include('footer') -%>